{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb"
    ],
    "overrides": [
        {
            "files": ["**/*.md"],
            "processor": "markdown/markdown"
        }
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "jest",
        "prettier",
        "markdown"
    ],
    "rules": {
        "func-names":"off",
        "no-unused-vars":"off",
        "no-undef":"off",
        "linebreak-style":"off",
        "no-console":"off",
        "brace-style":"off",
        "no-use-before-define":"off",
        "no-param-reassign":"off"
    }
}